@import "tailwindcss";

:root { color-scheme: light dark; }
html, body, #root { height: 100%; }

body {
  margin: 0;
  background: #a21caf; /* fallback */
  /* global purple gradient */
  background-image: linear-gradient(135deg,#9333ea 0%,#ec4899 50%,#f472b6 100%);
  color: rgb(15 23 42);
}

@media (prefers-color-scheme: dark) {
  body { color: rgb(241 245 249); }
}
body { background-attachment: fixed; background-size: cover; }
